<!DOCTYPE html>
<html>
	<head>
		<title>
			Olivia Drury
		</title>
		<!-- This is our bootstrap theme -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.0/united/bootstrap.min.css">
		<!-- This is our custom stylesheet with anything we need to edit. -->
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!-- The name of your website, your brand if you will -->
					<a href="/" class="navbar-brand">Opuntia</a>
					<!-- This is the little hamburger you will see on the mobile version of your website -->
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<!-- This is the menu, the list of things you could have on your website -->
					<ul class="nav navbar-nav">
						<li>
							<a href="http://0puntia.wordpress.com/about/"target="_blank">About</a>
						</li>
						<li>
							<!-- The target="_blank" will force the link to open in a new tab, handy for keeping people on your page -->
							<a href="http://uk.linkedin.com/pub/olivia-drury/74/b92/238" target="_blank">LinkedIn</a>

						</li>
						<li><a href="http://www.twitter.com/olivia_d83" target="_blank">Twitter</a>
						</li>
						<li><a href="http://www.pinterest.com/drury0972/" target="_blank">Pinterest</a>
						</li>
						<li><a href="http://0puntia.wordpress.com/" target="_blank">Blog</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
				<div class="jumbotron">
						<div class="container">
							<div class="hero">
								<h1>Welcome</h1>
								<p>My name is Olivia Drury. This is my landing page, created since taking the Code First: Girls beginners course in London whist undertaking a Masters at LSE. I am applying my new skills to this page and providing access to my online activities. </P>
								</div>
							</div>
						</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<h1>Student</h1>
    <img src="C:\Users\Olivia\Desktop\oneminutebootstrap/public/images/flower.jpg" height="90" width="90" class="img-circle">
						</div>
						<div class="col-xs-4">
							<h1>Learning</h1>
							<img src="C:\Users\Olivia\Desktop\oneminutebootstrap/public/images/fruit.jpg" height="90" width="90" class="img-circle">
						</div>
						<div class="col-xs-4">
							<h1>Code</h1>
<img src="C:\Users\Olivia\Desktop\oneminutebootstrap/public/images/pear.jpg" height="90" width="90" class="img-circle">
					</div>
				</div>
			</div>
			<div class="push"></div>
		</div>
		<div class="footer-wrapper">
			<footer>
			    <div class="container">
			        <ul>
			            <div class="col-xs-4">
MSc Public Policy and Administration
			        </ul>
			        <ul>
			            <div class="col-xs-4"> and
			        </ul>
			        <ul>
			            <div class="col-xs-4">
HTML, CSS, Java, Ruby, JQuery
			        </ul>
			    </div>
			</footer>
		</div>
		<!-- This is jquery a lovely javascript library needed for bootstrap and hosted by Google -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- This is bootstrap javascript to make dropdowns work and other cool javascript interactivity -->
		<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49778500-1', 'oliviadrury.tk');
  ga('send', 'pageview');
</script>
	</body>
</html>